body {
    font-family: "Raleway", sans-serif;
}

h1 {
    margin-bottom: 0;
    margin-top: 60px;
}

h2 {
    font-size: 15px;
}

h3 {
    margin-bottom: 25px;
}

/*HEADER*/

header {
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 3%;
    margin-top: 1%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

nav ul {
    display: flex;
    list-style: none;
}

nav img {
    height: 60px;
}

nav li {
    margin: 0 10px 0 20px;
}

a.bouton1 {
    text-decoration: none;
    color: black;
}

a.bouton1:visited {
    color: black;
}

a.bouton1:hover {
    border-top: #0065FC solid;
    border-width: 2px;
    padding-top: 30px;
    color: #0065FC;
}

a.bouton1:active {
    color: #0065FC;
}

a.inscrire {
    text-decoration: none;
    font-weight: bold;
    color: #0065FC;
}

a.inscrire:visited {
    color: #0065FC;
    font-size: bolder;
}

/*Section recherche*/

main {
    padding-right: 50px;
    padding-left: 50px;
}


#recherche {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;  
    flex-wrap: nowrap;
}

#recherche i {
    border: 15px solid;
    border-radius: 10px 0 0 10px;
    border-color: #F2F2F2;
    float: left;
}

#barre {
    font-size: 20px;
    float: left;
    color: black;
    height: 46px;
    border: #F2F2F2 solid;
    border-width: 1px;
    outline: none;
}

#bouton {
    background-color: #0065FC;
    float: left;
    color: white;
    height: 46px;
    width: 100px;
    border: 15px solid;
    border-color: #0065FC;
    border-radius: 0 10px 10px 0;
    border: #0065FC;
    font-weight: bold;
    font-size: 14px;
}

#bouton:active {
    box-shadow: inset 2px 2px white;
    height: 40px;
    width: 95px;
    border-radius: 0 10px 7px 0;
}

/*Filtres*/

#filtres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

#filtres i {
    margin-left: -3px;
    color:#0065FC;
    border: 10px solid;
    border-radius: 50%;
    border-color: #DEEBFF;
    background-color: #DEEBFF;
}

#filtres h2 {
    margin: 0 15px 0 10px;
}

a.bouton2 {
    display: flex;
    align-items: center;
    border: black solid 1px;
    border-radius: 20px 20px 20px 20px;
    border-color: #DEEBFF ;
    border-left-color: transparent;
    height: 35px;
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

a.bouton2:hover {
    background-color: #0065FC;
    color: white;
}

a.bouton2.i:hover {
    background-color: #0065FC;
    color: white;
}

#information {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

#information i {
    color: #0065FC;
    border: 15px solid;
    border-color: #F2F2F2;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin-right: 10px;
}

/*Section hébergements et populaires*/

#propositions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

/*Hébergements*/

#presentation {
    display: flex;
    flex-wrap: wrap;
    background-color:#F2F2F2;
    width: 65%;
    border-radius: 20px 20px 20px 20px;
    min-width: 350px;
}

#presentation h1 {
    margin-left: 7%;
    margin-bottom: 1%;
}

#presentation h3 {
    margin-left: 7%;
    margin-bottom: 5%;
}

#vignettes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

a.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: white solid;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    min-width: 300px;
    min-height: 224px;
    max-height: 236px;
    max-width: 300px;
    text-decoration: none;
    color: black;
    margin: 2%;
    box-shadow: 0 0 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

a.images img {
    width: 100%;
    height: 100%;
    max-height: 135px;
    border: white solid;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.description {
    margin-left: 7%;
    margin-top: -4%;
    min-height: 92px;
    position: relative;
}

.description p {
    line-height: 1.5;
}

.description span {
    font-weight: bold;
}

.titrehébergement {
    font-weight: bolder;
}

#presentation h3 a {
    text-decoration: none;
    color: black;
}
 
.etoiles {
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 5px; 
}

.etoilespleines {
    color: #0065FC;
}

.etoilesvides {
    color: rgb(194, 193, 193);
    margin-left: 3px;
}

/*Populaires*/

#populaires {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:#F2F2F2;
    align-items: center;
    width: 30%;
    border-radius: 20px 20px 20px 20px;
    min-width: 350px;
}

.descriptionpop {
    margin-left: 7%;;
    margin-top: -4%;
    min-height: 92px;
    position: relative;
}

.descriptionpop p {
    line-height: 1.5;
}

#entete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    margin-left: 10%;
    margin-right: 10%;
}

a.imagescote {
    display: flex;
    flex-direction: row;
    border: white solid;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    color: black;
    min-width: 250px;
    max-width: 350px;
    box-shadow: 0 0 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: 8%;
    margin-left: 20px;
    margin-right: 20px;
}


a.imagescote img {
    min-width: 150px;
    max-width: 150px;
    min-height : 170px; 
    max-height: 170px;
    border: white solid;
    border-radius: 20px 0 0 20px;
    float: left;
    object-fit: cover;
}

.etoilespop {
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10px; 
}

/*Activités*/

#activités {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4%;
}

#activités h3 {
    margin-left: 20px;
}

a.grandesimages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    color: black;
    max-height: auto;
    max-width: 400px;
    object-fit: cover;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

a.grandesimages img {
    width: 100%;
    height: 420px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.actimages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

a.moyimages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

a.moyimages img {
    width: 100%;
    width: 400px;
    max-height: 150px;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

/*FOOTER*/

footer {
    margin: 10px 0 20px 0;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
}

footer div {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 10%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

footer div p a {
    text-decoration: none;
    color: black;
}

/*************************
VERSION MOBILE
*************************/

@media all and (max-device-width: 480px)
{
    /**Filtres**/

    #filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #filtres h2 {
        margin-bottom: 15px;
    }

    a.bouton2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-left: 0;
        margin-bottom: 10px;
    }

    /*Section hébergements et populaires*/

    #propositions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    /**Hébergements**/

    #presentation {
        border-radius: 0 0 0 0;
        border: 0;
        background-color: white;
        width: 100%;
    }

    #presentation h1 {
        margin-left: 0;
        margin-bottom: 15px;
    }

    #presentation h3 {
        margin-left: 0;
        margin-bottom: 0;
    }
    
    #vignettes {
        align-items: flex-start;
        justify-content: flex-start;
    }

    a.images {
        height: 236px;
        max-width: 350px;
        width: 350px;
        margin: 0;
        margin-bottom: 20px;
    }

    a.images img {
        width: 100%;
        height: 100%;
        border: white solid;
        border-radius: 20px 20px 0 0;
    }

    /*Populaires*/

    #populaires {
        border-radius: 0 0 0 0;
    }

    #entete {
        margin-left: 0;
    }

    #popmobile {
        margin-bottom: 20px;
    }

    /**Activités**/

    a.grandesimages {
        min-width: 350px;
        width: 350px;
        height: 215px;
        margin-bottom: 20px;
    }

    a.grandesimages img {
        width: 100%;
        height: 150px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }

    a.moyimages {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    a.moyimages img {
        width: 100%;
        width: 350px;
        max-height: 150px;
        height: 100%;
    }

    /*FOOTER*/
    
    footer {
        min-width: 480px;
        margin-left: -10px;
    }
    
}