body {
    font-family: "Raleway", sans-serif;
}

h1 {
    margin-bottom: 0;
    margin-top: 60px;
}

h2 {
    font-size: 15px;
}

h3 {
    margin-bottom: 25px;
}

/*HEADER*/

header {
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 3%;
    margin-top: 1%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav img {
    height: 60px;
}

nav li {
    margin: 0 10px 0 20px;
    text-align: center;
}

a.bouton1 {
    text-decoration: none;
    color: black;
}

a.bouton1:visited {
    color: black;
}

a.bouton1:hover {
    border-top: #0065FC solid;
    border-width: 2px;
    padding-top: 30px;
    color: #0065FC;
}

a.bouton1:active {
    color: #0065FC;
}

a.inscriremobile {
    display: none;
}

a.inscrire {
    text-decoration: none;
    font-weight: bold;
    color: #0065FC;
    width: 100%;
}

a.inscrire:visited {
    color: #0065FC;
    font-weight: bolder;
}

/*Section recherche*/

main {
    padding-right: 50px;
    padding-left: 50px;
    object-fit: contain;
}


#recherche {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;  
    flex-wrap: nowrap;
}

#recherche i {
    border: 15px solid #F2F2F2;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
    float: left;
}

#barre {
    font-size: 20px;
    float: left;
    color: black;
    height: 46px;
    border: #F2F2F2 solid;
    border-width: 1px;
    outline: none;
}

#boutonrecherche {
    background-color: #0065FC;
    float: left;
    color: white;
    height: 46px;
    width: 100px;
    border: 15px solid;
    border-color: #0065FC;
    border-radius: 0 10px 10px 0;
    border: #0065FC;
    font-weight: bold;
    font-size: 14px;
}

#boutonrecherche:active {
    transform: scale(0.9);
}

#boutonmobile {
    display: none;
}

/*Filtres*/

#filtres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

#filtres i {
    margin-left: -3px;
    color:#0065FC;
    border: 10px solid;
    border-radius: 50%;
    border-color: #DEEBFF;
    background-color: #DEEBFF;
}

#filtres p {
    font-weight: bolder;
}

#filtres div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#filtres h2 {
    margin: 0 15px 0 10px;
}
a.bouton2 {
    display: flex;
    align-items: center;
    border: black solid 1px;
    border-radius: 20px 20px 20px 20px;
    border-color: #DEEBFF ;
    border-left-color: transparent;
    height: 35px;
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

a.bouton2:hover {
    background-color: #0065FC;
    color: white;
    transform: scale(1.1);
}

a.bouton2:active {
    transform: scale(0.9);
}

#information {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

#information div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-color: #F2F2F2;
    border-radius: 50%;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

#information i {
    color: #0065FC;
    background-color:white;
}

/*Section hébergements et populaires*/

#propositions {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/*Hébergements*/

#presentation {
    display: flex;
    flex-wrap: wrap;
    background-color:#F2F2F2;
    border-radius: 20px 20px 20px 20px;
    margin-right: 2%;
}

#presentation h1 {
    margin-left: 9%;
}

#presentation h3 {
    margin-left: 9%;
    margin-bottom: 5%;
}

#vignettes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

a.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: white solid;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    min-width: 300px;
    min-height: 224px;
    max-height: 236px;
    max-width: 300px;
    text-decoration: none;
    color: black;
    margin: 2%;
    box-shadow: 0 0 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

a.images img {
    width: 100%;
    height: 100%;
    max-height: 135px;
    border: white solid;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

a.images:hover {
    transform: scale(1.1);
}

a.images:active {
    transform: scale(0.9);
}

.description {
    margin-left: 7%;
    margin-top: -4%;
    min-height: 92px;
    position: relative;
}

.description p {
    line-height: 1.5;
}

.description span {
    font-weight: bold;
}

.titrehébergement {
    font-weight: bolder;
}

#presentation h3 a {
    text-decoration: none;
    color: black;
}
 
.etoiles {
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 5px; 
}

.etoilespleines {
    color: #0065FC;
}

.etoilesvides {
    color: rgb(194, 193, 193);
    margin-left: 3px;
}

/*Populaires*/

#populaires {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:#F2F2F2;
    align-items: center;
    width: 50%;
    border-radius: 20px 20px 20px 20px;
    min-width: 350px;
}

.descriptionpop {
    margin-left: 7%;;
    margin-top: -4%;
    min-height: 92px;
    position: relative;
    width: 60%;
}

.descriptionpop p {
    line-height: 1.5;
}

#entete {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-around;
}

#entete i {
    margin-top: 68px;
}

#popmobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 19px;
    margin-bottom: 8%;
}


a.imagescote {
    display: flex;
    flex-direction: row;
    border: white solid;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    color: black;
    width: 80%;
    box-shadow: 0 0 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: 8%;
    margin-bottom: 1%;
}


a.imagescote img {
    min-width: 40%;
    max-width: 40%;
    min-height : 170px; 
    max-height: 170px;
    border: white solid;
    border-radius: 20px 0 0 20px;
    float: left;
    object-fit: cover;
}

a.imagescote:hover {
    transform: scale(1.1);
}

a.imagescote:active {
    transform: scale(0.9);
}

.etoilespop {
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10px; 
}

/*Activités*/

#activités {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#activités h3 {
    margin-left: 20px;
}

a.grandesimages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    color: black;
    width : 22%;
    min-width: 360px;
    margin-bottom: 50px;
    object-fit: cover;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

a.grandesimages img {
    width: 100%;
    height: 470px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

a.grandesimages:hover {
    transform: scale(1.1);
}

a.grandesimages:active {
    transform: scale(0.9);
}

.actimages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 22%;
    min-width: 360px;
    height: 550px;
    margin-bottom: 50px;
}

a.moyimages {
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    color: black;
    max-height: 250px;
    min-width: 360px;
    box-shadow: 0 0 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

a.moyimages:hover {
    transform: scale(1.1);
}

a.moyimages:active {
    transform: scale(0.9);
}

a.moyimages img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

/*FOOTER*/

footer {
    margin: 10px 0 20px 0;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
}

footer div {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 10%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

footer div p a {
    text-decoration: none;
    color: black;
}

/*************************
VERSION MOBILE
*************************/

@media only screen and (max-width: 480px)
{

    body {
        justify-content: center;
        align-items: center;
    }

    h1 {
        margin-top: 30px;
    }

    /*HEADER MOBILE*/

    header {
        padding-right: 0;
        padding-left: 0;
        min-width: 100%;
        max-width: 100%;
    }

    nav {
        min-width: 100%;
        max-width: 100%;
    }

    nav img {
        max-width: 50%;
        margin-left: 5%;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        min-width: 100%;
        max-width: 100%;
        padding: 0;
        margin-top: 20px;
    }

    nav li {
        margin: 0;
        display: flex;
        min-width: 50%;
    }

    a.bouton1 {
        text-align: center;
        min-width: 100%;
        max-width: 100%;
        padding-bottom: 10px;
        border-bottom: #DEEBFF solid;
    }

    a.bouton1:hover {   
        border-top: none;
        padding-top: 0;
        border-width: 2px;
        padding-bottom: 10px;
        color: #0065FC;
        border-color: #0065FC;
    }

    a.bouton1:active {
        border-bottom: #0065FC solid;
        border-width: 2px;
        padding-bottom: 10px;
        color: #0065FC;
    }

    a.inscriremobile {
        display: flex;
        text-decoration: none;
        font-weight: bold;
        color: #0065FC;
        margin-right: 5%;
    }

    a.inscriremobile:visited {
        color: #0065FC;
        font-weight: bolder;
    }

    .inscrire {
        display: none;
    }

    main {
        padding-left: 0;
        padding-right: 0px;
        width : 100%;
    }

    /*SECTION RECHERCHE*/

    #recherche {
        max-width: 100%;
        display: flex;  
        flex-wrap: nowrap;
    }

    #barre {
        width: 70%;
    }

    #boutonrecherche {
        display: none;
    }
    
    #boutonmobile {
        display: flex;
        height: 46px;
        width: 50px;
        color: white;
        border: 1px solid;
        border-color: #0065FC;
        background-color: #0065FC;
        border-radius: 12px 12px 12px 12px;
        align-items: center;
        justify-content: center;
        margin-left: -10%;
    }

    #boutonmobile i{
        background-color: #0065FC;
        border: 5px solid;
        border-color: #0065FC;
    }

    #boutonmobile:active {
        transform: scale(0.9);
    }

    /**FILTRES MOBILE**/

    #titre {
        min-width: 100%;
    }

    #filtres {
        display: flex;
        min-width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    #filtres div {
        min-width: 100%;
        max-width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    a.bouton2{
        margin-bottom: 3%;
        margin-left: 5px;
        
    }

    #information {
        min-width: 100%;
    }

    #information div {
        min-width: 25px;
        min-height: 25px;
    }

    /*Section hébergements et populaires MOBILE*/

    #propositions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    /**Hébergements MOBILE**/

    #presentation {
        border-radius: 0 0 0 0;
        border: 0;
        background-color: white;
        max-width: 100%;
        min-width: 100%;
        align-items: center;
        justify-content: center;
    }

    #presentation h1 {
        width: 100%;
        margin-left: 15px;
        margin-bottom: 15px;
    }

    #presentation h3 {
        margin-left: 15px;
        margin-bottom: 0;
        width: 100%;
    }
    
    #vignettes {
        max-width: 90%;
        min-width: 90%;
        height: auto;
    }

    a.images {
        height: auto;
        max-width: 100%;
        min-width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }

    a.images img {
        width: 100%;
        height: 100%;
        border: white solid;
        border-radius: 20px 20px 0 0;
    }

    /*Populaires MOBILE*/

    #populaires {
        border-radius: 0 0 0 0;
        min-width: 100%;
        max-width: 100%;
    }

    #entete {
        min-width: 100%;
        max-width: 100%;
        justify-content: space-around;
        margin: 0;
    }

    #entete i {
        margin-top: 36px;
    }

    #popmobile {
        margin-bottom: 5%;
        min-width: 90%;
        max-width: 90%;
    }

    a.imagescote {
        min-width: 100%;
        max-width: 100%;
        margin-left: 0px;
        min-height: 180px;
        max-height: 180px;
    }

    a.imagescote img {
        max-height: 100%;
        max-width: 5%;
    }

    .descriptionpop {
        max-width: 100%;
        margin-left: 3%;
    }

    /*Activités MOBILE*/

    #sectionactivités {
        min-width: 100%;
        max-width: 100%;
    }

    #sectionactivités h1 {
        margin-left: 13px;
    }

    #activités {
        align-items: center;
        justify-content: center;
        min-width: 100%;
        max-width: 100%;
        height: auto;
    }

    a.grandesimages {
        min-width: 90%;
        max-width: 90%;
        min-height: 230px;
        max-height: 230px;
        height: 200px;;
        margin-bottom: 5%;
    }

    a.grandesimages img {
        width: 100%;
        max-height: 160px;
        height: 160px;
        border-radius: 20px 20px 0 0;
    }

    .actimages {
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        height: 500px;
        min-width: 90%;
        max-width: 90%;
    }

    a.moyimages {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 20px;
        min-width: 100%;
        max-width: 100%;
        min-height: 230px;
        max-height: 230px;
    }
    
    a.moyimages img {
        min-width: 100%;
        max-width: 100%;
        height: 70%;
    }

    /*FOOTER MOBILE*/
    
    footer {
        margin-left: -10px;
    }
    
}

/*************************
VERSION TABLETTE PORTRAIT
*************************/

@media only screen and (min-width:480px) and (max-width:768px) {
    header {
        padding: 10px;
    }

    main {
        padding: 10px;
    }

    /*Section hébergements et populaires TABLETTE PORTRAIT*/

    #propositions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    /**Hébergements TABLETTE PORTRAIT**/

    #presentation {
        border-radius: 0 0 0 0;
        border: 0;
        background-color: white;
        max-width: 100%;
        min-width: 100%;
        align-items: center;
        justify-content: center;
    }

    #presentation h1 {
        width: 100%;
        margin-left: 15px;
        margin-bottom: 15px;
    }

    #presentation h3 {
        margin-left: 70px;
        margin-bottom: 0;
        width: 100%;
    }
    
    #vignettes {
        max-width: 80%;
        min-width: 80%;
        height: auto;
    }

    a.images {
        max-height: 400px;
        max-width: 100%;
        min-width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }

    a.images img {
        max-height: 240px;
        margin-bottom: 10px;
        max-width: 100%;
        width: 100%;
        height: 100%;
        border: white solid;
        border-radius: 20px 20px 0 0;
    }

    /*Populaires TABLETTE PORTRAIT*/

    #populaires {
        border-radius: 0 0 0 0;
        min-width: 100%;
        max-width: 100%;
    }

    #entete {
        min-width: 100%;
        max-width: 100%;
        justify-content: space-around;
    }

    #entete i {
        margin-top:65px;
        margin-left: 25%;
    }

    #popmobile {
        margin-bottom: 5%;
        min-width: 80%;
        max-width: 80%;
    }

    a.imagescote {
        min-width: 100%;
        max-width: 100%;
        margin-left: 0px;
        min-height: 200px;
        max-height: 200px;
    }

    a.imagescote img {
        max-height: 100%;
        max-width: 5%;
    }

    .descriptionpop {
        margin-top: 5px;
        max-width: 100%;
        margin-left: 3%;
    }

    /*Activités TABLETTE PORTRAIT*/

    #sectionactivités {
        min-width: 100%;
        max-width: 100%;
    }

    #sectionactivités h1 {
        margin-left: 13px;
    }

    #activités {
        align-items: center;
        justify-content: center;
        min-width: 100%;
    }

    a.grandesimages {
        max-width: none;
        width: 80%;
        max-height: 275px;
        margin-bottom: 5%;
    }

    a.grandesimages img {
        width: 100%;
        max-height: 200px;
        border-radius: 20px 20px 0 0;
    }

    .actimages {
        width: 80%;
        max-width: 80%;
    }

}

/*************************
VERSION TABLETTE PAYSAGE
*************************/

@media only screen and (min-width:769px) and (max-width:1024px) {
    
    header {
        padding: 10px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    main {
        padding: 10px;
        padding-top: 0;
    }

        /*Section hébergements et populaires TABLETTE PAYSAGE*/

        #propositions {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
        }

        /*Hébergements TABLETTE PAYSAGE*/

        #presentation {
            margin : 0;
            width: 95%
        }

        #presentation h3 {
            margin-left: 15%;
        }

        /*Populaires TABLETTE PAYSAGE*/

        #populaires {
            display: flex;
            flex-wrap: wrap;
            background-color:#F2F2F2;
            align-items: center;
            width: 100%;
            border-radius: 0;
            margin-bottom: 5%;
        }

        #popmobile {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 95%;
            margin-bottom: 2%;
        }

        a.imagescote {
            margin-top: 0;
            width: 30%;
        }

        /*Section activités TABLETTE PAYSAGE*/

        #activit {
            margin-left: 3%;
        }

        #activités {
            justify-content: space-evenly;
        }

}