/*HEADER*/
body {
    font-family: "Raleway", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

nav ul {
    display: flex;
    list-style: none;
}

nav img {
    height: 60px;
}

nav li {
    margin: 0 10px 0 20px;
    color: #0065FC;
}

nav li a {
    text-decoration: none;
}

a.nounderline:link 
{ 
 text-decoration:none; 
} 

a:hover {
    text-decoration: overline;
    color: #0065FC;
}

a:visited {
    color: #0065FC;
}

/*Section recherche*/
h2 {
    font-size: 15px;
}

#recherche i {
    border: 15px solid;
    border-radius: 10px 0 0 10px;
    border-color: #F2F2F2;
    font-size: 12px;
}

/*Filtres*/
#filtres {
    display: flex;
    align-items: center;
}

#filtres div {
    margin: 0 20px 0 20px;
}

#filtres div i {
    font-size: 20px;
    color:#0065FC;
    border: 10px solid;
    border-radius: 50%;
    border-color: #DEEBFF;
    background-color: #DEEBFF;
}

#filtres div h2 {
    margin: 0 20px 0 30px;
}

#information {
    display: flex;
}

#information i {
    color:#0065FC;
}

/*FOOTER*/
footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
}

footer div ul {
    list-style: none;
}